<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotionTodos Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B11BA2D32DB020F100253F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B11BA2D92DB020F100253F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B11BA2E82DB020F300253F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B11BA2F22DB020F300253F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
